.login-container {
  width: 50vw;
  max-width: 500px;
  padding: 12px 24px 12px 24px;
  height: fit-content;
}

.account-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-form {
  display: grid;
}

.input-margin-top {
  margin-top: 10px;
}

.input-center {
  display: flex;
  justify-content: center;
}

.divider {
  margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 1000px) {
  .login-container {
    width: 90%;
  }
}

@media only screen and (max-width: 300px) {
  .login-container {
    width: 100%;
  }
}