.login-container {
  width: 50vw;
  max-width: 500px;
  padding: 12px 24px 12px 24px;
  height: fit-content;
}

.account-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-form {
  display: grid;
}

.input-margin-top {
  margin-top: 10px;
}

.input-center {
  display: flex;
  justify-content: center;
}

.input-btn {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.divider {
  margin: 20px 0px 20px 0px;
}

.providers-container {
  display: grid;
  gap: 10px;
}

.mantine-InputWrapper-error {
  animation: slideDown 0.3s linear both;
}

.mantine-InputWrapper-error.unmounted {
  animation: slideUp 0.3s linear both;
}

@keyframes slideUp {
  0% {
    height: 18px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 18px;
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .login-container {
    width: 90%;
  }
}

@media only screen and (max-width: 300px) {
  .login-container {
    width: 100%;
  }
}