.center-h {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  height: 70px;
  margin: 10px 0px 20px 0px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 0px 0px;
}

.container {
  width: 80%;
  max-width: 600px;
  margin-top: 50px;
  max-height: 80vh;
  transition: all 0.25s ease-out;
}

.container h1 {
  margin-top: 0;
}

.input-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.mantine-NavLink-children {
  padding-left: 20px;
}

.openers-container {
  display: grid;
  gap: 10px;
  padding-left: 12px;
}

.element-container {
  width: 100%;
  display: grid;
  gap: 5px;
}

.element {
  width: 100%;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element-text {
  min-height: 20px;
  margin: 5px 5px 5px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.icon-element-conainter {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  padding: 0;
  gap: 3px;
}

.btns-container {
  display: flex;
  gap: 10px;
}

.edit-field {
  flex-grow: 1;
}

.edit-field.error {
  color: #e03131;
}

.edit-field.error input {
  color: #e03131;
}

.edit-field input {
  font-size: 16px;
  text-overflow: ellipsis;
  padding: 0px;
}

.dialog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mantine-Modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mantine-CloseButton-root {
  margin-left: 0px;
  justify-self: end;
  border-radius: 50%;
}

.mantine-Modal-title {
  justify-self: center;
  grid-column-start: 2;
}

.modal-container {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

.mantine-Modal-body {
  padding-bottom: 0px;
}

/* Account */
.account-header {
  display: flex;
  justify-content: space-between;
}

.account-header h4 {
  margin-top: 5px;
  margin-left: 10px;
}

.account-space-up {
  margin-top: 10px;
}

.modal-avatar-conatiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.modal-avatar-conatiner h2 {
  margin: 0px;
}

.modal-label {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

/* Danger Zone */

.email-alert {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;

  height: 0;
  opacity: 0;
  overflow: hidden;
}

.email-alert.visible {
  height: var(--slem);
  opacity: 1;
  animation: slideDownEmail 0.1s linear both;
}
.email-alert.hidden {
  height: 0;
  opacity: 0;
  animation: slideUpEmail 0.1s linear both;
}

@keyframes slideDownEmail {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: var(--slem);
    opacity: 1;
  }
}

@keyframes slideUpEmail {
  0% {
    height: var(--slem);
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.confirm-delete {
  margin-top: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;

  height: 0;
  opacity: 0;
  overflow: hidden;
}

.confirm-delete.visible {
  height: 150px;
  opacity: 1;
  animation: slideDownDelete 0.2s linear both;
}
.confirm-delete.hidden {
  height: 0;
  opacity: 0;
  animation: slideUpDelete 0.2s linear both;
}

.profile-title {
  margin-bottom: 0;
}

.profile-title > h2 {
  margin-bottom: 0;
}

.pref-theme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.personalised-choise-container {
  display: grid;
  gap: 20px;
}

.user-icon-container {
  display: grid;
  margin-top: 20px;
  gap: 20px;
}

.user-icon-choise {
  display: flex;
  gap: 10px;
  align-items: center;
}

.background-input {
  width: 50%;
}

.pref-theme-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.letters-input {
  display: initial;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

@keyframes slideDownDelete {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 150px;
    opacity: 1;
  }
}

@keyframes slideUpDelete {
  0% {
    height: 150px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.avatar {
  cursor: pointer;
}

/* Security */

.security-container {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.security-alert {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.security-input {
  width: 100%;
}

.security-btn {
  width: fit-content;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    max-height: 100vh;
    padding: 0px 10px 0px 10px;
    margin-top: 60px;
    margin-bottom: 11px;
  }

  .logo {
    height: 13vw;
    min-height: 50px;
    margin: 15px 0px 20px 0px;
  }

  .mantine-NavLink-children {
    padding-left: 10px;
  }

  .mantine-Modal-inner {
    margin-top: calc(100lvh - 100dvh);
  }

  .profile-title {
    text-align: center;
    display: grid;
    justify-items: center;
  }

  .user-icon-choise {
    display: grid;
    gap: 10px;
  }

  .background-input {
    width: 100%;
  }

  .background-chooser {
    margin: 40px 20px 0 20px;
  }

  .letters-input {
    display: grid;
    justify-items: center;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    width: 98%;
    padding: 0px 5px 0px 5px;
  }

  .pref-theme-container {
    display: grid;
    gap: 15px;
    justify-items: center;
    justify-content: center;
  }

  .mantine-NavLink-children {
    padding-left: 2px;
  }
}
