/* Error page */
.error-image-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100vw;
}

.error-image {
  font-family: 'Greycliff CF', sanserif;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: min(90vh, 50vw);
  text-align: center;
}

.error-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 100vw;
}

.error-content {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.error-title {
  font-family: 'Greycliff CF', sanserif;
  text-align: center;
  display: block;
}

.error-code {
  font-family: 'Greycliff CF', sanserif;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.error-description {
  max-width: max(60vw, 500px);
  margin-right: 10px;
  margin-left: 10px;
}

.error-link {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}